<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
              <img class="footer-img" src="assets/mason.png">
              
              {%- if site.description -%}
              <div class="footer-text">
                {{ site.description | escape }}
              </div>
              {% endif %}
            </li>            
                        
        </ul>
      </div>

      <div class="footer-col footer-col-3"></div>
      <div class="footer-col footer-col-2">
        <a href="https://myeonglee.com/teaching" target="_blank">About the AIT580 class</a>
      </div>

      <!-- <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div> -->

      
     
      
    </div>

  </div>

</footer>
