<!-- <script>
	$("#a").text("hello this is from JS.");
</script> -->

<br>
<br>
<span id="a">This is a page for hello world.</span>
<br>
This page has its own custom sub-URL. Also, possible to include a custom HTML file from `_include`.
<br>

<img src="https://cec.gmu.edu/sites/g/files/yyqcgq471/files/styles/feature_image_large/public/2021-06/computing%20homepage.jpg?itok=kjB9lkr-">

<div class="interactive"></div>

<br>
<div> this is a text coming from a custom HTML file undeler the `_includes` folder</div>